.font_h1 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 26px;
	font-style: italic;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 23px;
}
.font_h3 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-style: italic;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 19.2px;
}
.font_p {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 13.2px;
}
.font_blockquote {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 17px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: 20.4px;
}
.font_pre {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 14.4px;
}

.impact_font {
color: #333333;
font-family: Impact, "Charcoal", sans-serif;
}

.palatino_linotype_font {
color: #333333;
font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

.tahoma_font {
color: #333333;
font-family: Tahoma, Geneva, sans-serif;
}

.century_gothic_font {
color: #333333;
font-family: Century Gothic, sans-serif;
}

.lucida_sans_unicode_font {
color: #333333;
font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

.arial_black_font {
color: #333333;
font-family: ‘Arial Black’, Gadget, sans-serif;
}

.times_new_roman_font {
color: #333333;
font-family: ‘Times New Roman’, Times, serif;
}

.arial_narrow_font {
color: #333333;
font-family: ‘Arial Narrow’, sans-serif;
}

.veradana_font {
color: #333333;
font-family: Verdana, Geneva, sans-serif;
}

copperplate_gothic_light_font {
color: #333333;
font-family: Copperplate, Copperplate Gothic Light, sans-serif;
}

.lucida_console_font {
color: #333333;
font-family: Lucida Console, Monaco, monospace;
}

gill_sans_mt_font {
color: #333333;
font-family: Gill Sans, Gill Sans MT, sans-serif;
}

.trebuchet_ms_font {
color: #333333;
font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}

.courier_new_font {
color: #333333;
font-family: ‘Courier New’, Courier, monospace;
}

.arial_font {
color: #333333;
font-family: Arial, Helvetica, sans-serif;
}

.georgia_font {
color: #333333;
font-family: Georgia, Serif;
}

.palatino_family_font{
color: #333333;
font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
.comic_sans_font{
font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}
