/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css

*/
/*--------------------------------------
  Variables Document Default/Base
-----------------START------------------*/
/*
Default Document Variables, Font parameters, Colors, padding - 

- based on @media all and (min-width: 1024px) and (max-width: 1280px)

*/

:root{

	--htmlDocumentFont-Theme:	;	/* Font Theme for all elements*/
	--htmlDocumentColor-Theme:	;		/* color Theme for all elements*/
	--htmlDocumentDesign-Theme:	;		/* all alements definitions including grid, responsiveness etc.*/

	--htmlDocumentTopMargin: 50px auto;  


/*---------------------------------
	Varialbles NavBar
-----------------------------------*/


	--navbarFontSize: 1.8em;
	--navbarSpanColor: #86dc00;
	--navbarFontPadding: 1em 1.3em;
	

}

/*----------------END-----------------
  Varialbles Document Default/Base
-------------------------------------*/
/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Arimo", arial, verdana, sans-serif;
font-weight:normal;
}

thead th,
tbody th{
font-family: "Arimo", arial, verdana, sans-serif;
}
/*---------------------------------
	Added Ballaty Start
-----------------------------------*/

a {
    color: #0060B6;
    text-decoration: none;
}

.iconHeaderNavLink { color: #11EF2F; }
.iconButtonNavLink { color: blue; }

a:hover {
     color:white; 
     text-decoration:none; 
     cursor:pointer;  
}

a:active{
     color: black;
     text-decoration:none; 
     cursor:pointer;
}
/*---------------------------------
	Added Ballaty End
-----------------------------------*/

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Arimo", arial, verdana, sans-serif;
}

.menu{
font-family: "Arimo", arial, verdana, sans-serif;
}

blockquote{
font-family: "Arimo", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0 0 0 0;
color:#000;
/*background:#4598ef;*/
background:#FDFEFE;
font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
text-shadow: 0 0 1px transparent; /* google font pixelation fix */
}

#wrap{
width:100%;
background:#fff;
margin:30px auto 30px auto;
padding:0 2%;
border:1px solid #ccc;
}


#footer{
text-align:center;
padding:20px;
margin:0;
border-top:1px solid #ddd;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;
top:0;
left:0;
/*background:#fff;*/
background:#FDFEFE;
}

	#link-top{
	display:none;
	}

/* NAV BAR*/
.navbar{
position:fixed;
top:0;
left:0;
width: 100%;
/*background:#000;*/
background:#FDFEFE;
color:#fff;
z-index:1000;
}

	.navbar #logo{
	position:absolute;
	top:0;
	right:0;
	padding:0.5em 1em;
	font-size: 1.7em;
	color:#efefef;
	color:#4598EF;

	text-decoration:none;
	}

	.navbar span{
	color:#86dc00;
	}


	.navbar ul{
	display:inline-block;
	margin:0;
	padding:0;
	}

		.navbar li{
		margin:0;
		padding:0;
		list-style-type:0;
		display:inline-block;
		}

		.navbar li a{
		display:inline-block;
		/*color:#efefef;*/
		color:#4598ef;
		padding:var(--navbarFontPadding);
		text-decoration:none;
		text-transform: uppercase;
		line-height:100%;
		font-size: var(--navbarFontSize);
		}



.callout{
background:#FDFEFE;/*#4598ef;#86dc00;*/
padding:3em 0;
color:#4598ef;
/*box-shadow:inset 0 0 10px rgba(0,0,0,0.2);*/
text-align: center;
/*text-shadow:0px 1px 3px rgba(0,0,0,0.2);*/
display:block;
}
	/*.callout + div.grid{margin-top:50px;}*/
	.callout + div.grid{margin-top:var(--htmlDocumentTopMargin);
	 a.callout{cursor:pointer;}
	 .callout i.icon-4x{font-size:6em;}
	 .callout h4{margin-bottom:30px;}
	/* .callout-top{margin:var(--htmlDocumentTopMargin);}*/
	 .callout-top{margin:50px 0 0 0;}  previous value	 
	 .callout p{margin-bottom:0;}
	 .callout .button{margin-top:10px;}
	 .callout.green{background:#19ad0b;/*#86dc00;*/}

#mc_embed_signup{
padding:30px 0;
}

#ui-preview{
border:5px solid #ddd;
margin:30px 0;
display:block;
}
