<html>
	<head>
	</head>
	
	<body>
		<h1>Hello jecik@o2.pl</h1>
		
		<div id="header-div">
			<h1 align="center">Dashboard</h1>
		</div>

		<div id="status-bar">
			<p id="status-msg"> ... </p>
		</div>
		
		<br>
		<a href="/logout">Logout</a>
	</body>
	   <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
		var socket = io('/iot');
	  
		// set connection actions
		socket.on('connect', onConnect);
		socket.on('connect_error', onConnectError);
		socket.on('error', onError);
		
		// color the status-bar div on successful connection
		function onConnect(msg) {
			console.log("connected to server.");
			$("#status-bar").css( { "background-color": "#1CD935", "border": "3px solid #169126", "width": "95%" } );
			$("#status-msg").text("Connected to server.");
			$("#status-msg").css( { "margin": "5px" });
		}
		
		// color the status-bar on connection error
		function onConnectError(msg) {
			console.log("Connection Error!");
			$("#status-bar").css( { "background-color": "#F02626", "border": "3px solid #911631", "width": "95%" } );
			$("#status-msg").text("Disconnected from server.");
			$("#status-msg").css( { "margin": "5px" });
		}
		
		function onError(msg) {
			console.log("other error: " + msg);
		}
	  </script>
</html>
